<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="../static/Favicon_Images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/Favicon_Images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/Favicon_Images/favicon-16x16.png">
    <link rel="manifest" href="../static/Favicon_Images/site.webmanifest">
    <link rel="mask-icon" href="../static/Favicon_Images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="../static/CSS/site_styles.css">

    <script>
        var timeoutVar;

        function myFunction() {
                timeoutVar = setTimeout(showPage, 100);
        }

        function showPage() {
          document.getElementById("content").style.display = "none";
          document.getElementById("loader").style.display = "block";
        }

        function numberWithCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }


    </script>

    <meta charset="UTF-8">
    <title>Hecs Calculator</title>
</head>
<body>
<div id="loader" class="loader center" style="display:none;"><!--    Loading...    --></div>
<div id="content">
    <div class="center">
        <h1 class="center_text">Hecs Repayment Calculator</h1>
        <!--        for some reason, setting autocomplete to off invalidates the CSRF tokens and makes the prod site error out-->
        <!--        <form autocomplete="off" method="POST" class="center_text">-->

        <!--        <p>-->
        <!--            {{ form.errors }}-->
        <!--        </p>-->
        <form method="POST" class="center_text">
            {{ form.csrf_token }}
            <table style="border-collapse: collapse" class="center">
                <tbody>
                <!--Error message row-->
                <tr>
                    <td>
                        {{ form.errors['annual_income']|replace('"','')|replace('[','')|replace(']','')|safe }}
                    </td>
                    <td>
                        {{ form.errors['hecs_debt']|replace('"','')|replace('[','')|replace(']','')|safe }}
                    </td>
                    <td>
                        {{
                        form.errors['weekly_voluntary_repayments']|replace('"','')|replace('[','')|replace(']','')|safe
                        }}
                    </td>
                </tr>

                <!--Form entry row-->
                <tr>
                    <td>
                        {{ form.annual_income(class_="form-control", placeholder="Annual Income", type="number",
                        onkeydown="return event.keyCode !== 69 && event.keyCode !== 189") }}
                    </td>
                    <td>
                        {{ form.hecs_debt(class_="form-control",placeholder="Hecs Debt", type="number",
                        onkeydown="return event.keyCode !== 69 && event.keyCode !== 189") }}
                    </td>
                    <td>
                        {{ form.weekly_voluntary_repayments(class_="form-control",
                        placeholder="Weekly Voluntary Repayments", type="number", onkeydown="return event.keyCode !== 69
                        && event.keyCode !== 189") }}
                    </td>
                </tr>
                </tbody>
            </table>
            {{ form.calculate(class_="button") }}
            <!--            {{ form.calculate(class_="button", onclick="return myFunction()") }}-->
        </form>

    </div>
    {% if display_output %}
    <div class="center">
        <table class="information_table">
            <tbody>
            <tr>
                <td class="center_text table_header"><b>Annual Income</b></td>
                <td class="center_text">{{ display_strings[0] }}</td>
            </tr>
            <tr>
                <td class="center_text table_header"><b>HECS Debt</b></td>
                <td class="center_text">{{ display_strings[1] }}</td>
            <tr>
                <td class="center_text table_header"><b>Annual Mandatory Repayments</b></td>
                <td class="center_text">{{ display_strings[2] }}</td>
            </tr>
            <tr>
                <td class="center_text table_header"><b>Weekly Voluntary Repayments</b></td>
                <td class="center_text">{{ display_strings[3] }}</td>
            </tr>
            <tr>
                <td class="center_text table_header"><b>Average Indexation Rate</b></td>
                <td class="center_text">{{ display_strings[4] }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div class="center">
            {% for string in display_strings[5:] %}
            <ul>
                <li>{{ string }}</li>
            </ul>
            {% endfor %}
    </div>
    {% else %}
    <div class="center_text error_text">
        {% for string in error_strings %}
        <p>
            {{ string }}
        </p>
        {% endfor %}
    </div>
    {% endif %}
</div>
</body>
</html>
