<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="../static/Favicon_Images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/Favicon_Images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/Favicon_Images/favicon-16x16.png">
    <link rel="manifest" href="../static/Favicon_Images/site.webmanifest">
    <link rel="mask-icon" href="../static/Favicon_Images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/CSS/site_styles.css">

    <title>Hecs Debt Info</title>
</head>
<body>
    <a href="/hecs_calculator"><button type="button" class="button">Hecs Calculator</button></a>
</body>
</html>