<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="../static/Favicon_Images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/Favicon_Images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/Favicon_Images/favicon-16x16.png">
    <link rel="manifest" href="../static/Favicon_Images/site.webmanifest">
    <link rel="mask-icon" href="../static/Favicon_Images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/CSS/site_styles.css">

    <title>Hecs Debt Info</title>
</head>
<body>
<div>
    <p class="center_text">
        HECS debt can be hard, but it shouldn't be.<br>
        The following are <b>facts</b> about HECS debt:
    </p>
    <ul>
        <li>HECS Debt is indexed <b>annually on June 1</b></li>
        <li><u>'Indexation'</u> is the same as interest on a loan, just different terminology</li>
        <li>Only HECS debt you have had for <b>more than 1 year</b> has indexation applied to it</li>
        <li>You only make automatic repayments on a HECS debt when your <b>annual income is above a certain amount</b>
        </li>
        <li>In the vast majority of cases, making even a <b>$10 weekly voluntary contribution</b> towards your debt will
            <b>save you years and thousands of dollars</b>
        </li>
    </ul>
    <br>
    <p>
        All data used in calculations has been sourced from the ATO:
    </p>
    <ul>
        <li><a href="https://www.ato.gov.au/Rates/HELP,-TSL-and-SFSS-repayment-thresholds-and-rates/">HECS Taxation Rate
            Thresholds</a></li>
        <li><a href="https://www.ato.gov.au/Rates/Study-and-training-loan-indexation-rates/">Indexation Rate History</a>
        </li>

    </ul>
    <br>
    <p>
        Use the link to the calculator below to find out how long paying off your HECS debt will take, and how much time
        and money you could save with voluntary repayments<br>
        <b>This calculator:</b>
    </p>
    <ul>
        <li>Uses average indexation rate <u>over the last 9 years</u></li>
        <li>Assumes your annual income is <u>$45,000 - $120,000</u> for the final savings calculation.<br>
            If you are <b>below this range</b>, the savings amount will be <b>moderately higher</b> in reality<br>
            If you are <b>above this range</b>, the savings amount will be <b>slightly lower</b> in reality
        </li>
    </ul>
</div>
<a href="/hecs_calculator">
    <button type="button" class="button">Hecs Calculator</button>
</a>
</body>
</html>