<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="../static/Favicon_Images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/Favicon_Images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/Favicon_Images/favicon-16x16.png">
    <link rel="manifest" href="../static/Favicon_Images/site.webmanifest">
    <link rel="mask-icon" href="../static/Favicon_Images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/CSS/site_styles.css">

    <title>Hecs Debt Info</title>
</head>
<body>
<div>
    <p class="center_text">
        HECS debt can be hard, but it shouldn't be.<br>
        The following are <b>facts</b> about HECS debt:
    </p>
    <ul>
        <li>HECS Debt is indexed <b>annually on June 1</b></li>
        <li><u>'Indexation'</u> is the same as interest on a loan, just different terminology</li>
        <li>Only HECS debt you have had for <b>more than 1 year</b> has indexation applied to it</li>
        <li>You only make automatic HECS repayments when your <b>annual income is above a certain amount</b>
        </li>
        <li>In majority of cases, making a <b>$25-$50 weekly voluntary contribution</b> will
            <b>save you years and thousands of dollars</b>
        </li>
    </ul>
    <hr>
    <p>
        This site has a calculator that allows you to compare the time and money saved by making a theoretical weekly payment<br>
        Ensure you try a few different numbers to get an idea of what weekly payment amount best suits you<br>
        All data used in calculations sourced from ATO:
    </p>
    <ul>
        <li><a href="https://www.ato.gov.au/Rates/HELP,-TSL-and-SFSS-repayment-thresholds-and-rates/">HECS Taxation Rate
            Thresholds</a></li>
        <li><a href="https://www.ato.gov.au/Rates/Study-and-training-loan-indexation-rates/">Indexation Rate History</a>
        </li>

    </ul>
    <hr>
    <p>
        <b><span class="large_text">How do i make a voluntary repayment?</span></b><br>
    </p>
    <ul>
        <li>BPAY</li>
        <li>Credit Card</li>
    </ul>
    <p>
        Payment details can be found when you log into the ATO website through <a href="https://my.gov.au/LoginServices/main/login?execution=e2s1">mygov</a>.<br>
        <a href="https://www.ato.gov.au/Individuals/Study-and-training-support-loans/Voluntary-repayments/">This ATO
            information page</a> has more information
    </p>
    <hr>
    <p>
        <b>This calculator:</b>
    </p>
    <ul>
        <li>Uses average indexation rate <u>over the last 9 years</u></li>
        <li>Assumes your annual income is <u>$45,000 - $120,000</u> for the final savings calculation.<br><br>
            If you are <b>below this range</b>, savings will be <b>moderately higher</b> in reality<br><br>
            If you are <b>above this range</b>, savings will be <b>slightly lower</b> in reality
        </li>
    </ul>
</div>
<a href="/HECS/calculator">
    <button type="button" class="button">Hecs Calculator</button>
</a>
</body>
</html>